@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-size: 16px;
    --text: #d4be98;
    --background: #282828;
    --primary: #d397b0;
    --secondary: #97c6d3;
    --accent: #d39797;
}
body::-webkit-scrollbar
{
    width: 0.25rem;
}
body::-webkit-scrollbar-track
{
    background: #2c2c2c;
}
body::-webkit-scrollbar-thumb
{
    background: #16161D;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    list-style-type: none;
    text-decoration: none;
    cursor: default;
}

body {
    background-color: var(--background); /* Dark mode background color */
    color: var(--text); /* Dark mode text color */
}
header {
    margin-top: 10vh;
    text-align: center;
}
.container {
    margin-bottom: 5vh;
}
section {
    margin-top: 15vh;
    margin-right: 5vw;
    margin-left: 5vw;
    line-height: 3.5vh;
}
#title {
    margin-bottom: 2.5vh;
    text-decoration: underline;
    text-underline-offset: 1vh;
}
#color {
    color: var(--primary);
}
li {
    margin-bottom: 2vh;
}
#command {
    background-color: rgba(245, 222, 179, 0.171);
    padding: 0.25vh;
}